
/* App.css */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root level CSS variables for dynamic background */
:root {
  --gradient-start: cyan;
  --gradient-end: darkcyan;
}


html, body {
  height: 100%;
  width: 100%;
  
}


#root, .home-container,html,body {
  height: 100%;
  width: 100%;
  background-color: var(--gradient-start); 
  background-image: linear-gradient(120deg, var(--gradient-start), var(--gradient-end));
  transition: background-color 0.3s ease, background-image 0.3s ease; 
  height: 100%;
  width: 100%;
}

.home-container {
  color: black;
  display: flex;
  flex-direction: column;
}

/* Navigation styles */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-weight: bold;
}

/* Menu styles */
.menu-container {
  position: relative;
  display: flex;
}

.menu-button {
  background: none;
  border: 1px solid black;
  color: black;
  padding: 1rem;
  cursor: pointer;
  width: 150px;
  align-items: center;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid black;
  z-index: 1000;
  min-width: 100px;
}

.dropdown-item {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}

/* Auth button styles */
.auth-buttons {
  display: flex; 
}

.auth-buttons button {
  margin-left: 1rem;
  background: none;
  border: 1px solid black;
  color: black;
  padding: 0.5rem 1rem;
}

.auth-buttons .login-button {
  background: black;
  color: cyan;
}

/* Header styles */
.header {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.header p {
  font-size: 1.2rem;
}

/* Footer link styles */
.footer-links {
  text-align: center;
  margin-top: 20px;
}

.footer-links a {
  text-decoration: underline;
  color: black;
  margin: 0 10px;
}
