* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

#root, .home-container {
  height: 100%;
  width: 100%;
}

.home-container {
  background-color: cyan;
  color: black;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-weight: bold; 
}

.menu-container {
  position: relative;
  display: flex;
}

.menu-button {
  
  background: none;
  border: 1px solid black;
  color: black;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid black;
  z-index: 1000;
  min-width: 100px;
}

.dropdown-item {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}

.auth-buttons {
  display: flex; /* Align auth buttons in a row */
}
.auth-buttons button {
  margin-left: 1rem;
  background: none;
  border: 1px solid black;
  color: black;
  padding: 0.5rem 1rem;
}

.auth-buttons .login-button {
  background: black;
  color: cyan;
}

.header {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.header p {
  font-size: 1.2rem;
}
